body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.loading-conteneur{

    background-color: rgba(255,255,255,0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    animation: loader-conteneur 4s;

    .loading{
        position: absolute;
        top:50%;
        left:43%;
        z-index: 1000;
        font-size: 50px;
    }
}
.header{
    
    padding: 10px 0;
    
    .header-logo{
        justify-content: center;
        display: flex;
        font-size: 24px;
        margin: auto;
    }
}

.photos{
    height: 210px;
    background-size: cover;
    position: relative;
    
}
.picture{
    background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}


.restaurant-name{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
}
.title{
    font-size: 16px;
    h1{
        margin: 5px;
        margin-bottom: 15px;
    }
}

.dishes:hover i{
    transform: rotate(0deg);
    
}  
.check i{
    transform: rotate(360deg);
    transition: transform 0.7s;
}

.loading i{
    opacity: 0;
    animation: loader 3s linear;
}
@keyframes loader{
    from{
        opacity: 1;
        transform: rotate(0deg);
        
    }
    
    99%{
        opacity: 1;
    }

    to{
        transform: rotate(900deg);
        
    }
    
}
@keyframes loader-conteneur{
    from{
        opacity: 1;
        z-index: 1;
    }

    99%{
        opacity: 1;
    }

    to{
        opacity: 0;
        
    }
}
.card .dishes:hover .check{

    margin-right: 0; 
}


@keyframes dishes-appear{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.card{
    padding: 15px;
    background-color: $background-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -26px;
    position: relative;
    .dishes:nth-child(2){
        
        animation-delay: 0.2s;
    }
    .dishes:nth-child(3){
        animation-delay: 0.4s;
    }
    .dishes{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        align-items: center;
        margin: 15px 0 15px 0;
        padding-left: 15px;
        overflow: hidden;
        cursor: pointer;
        animation-name: dishes-appear;
        animation-duration: 0.8s;
        
        
        .info-dishe{

            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .informations{
                padding-top: 15px;
                padding-bottom: 15px;

                .technics{
                    
                }
                .dishe{
                    font-weight: bold;
                    
                }
                
            }
            .price{
                font-weight: bold;
                font-size: 14px;
                padding-right: 15px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                padding-bottom: 15px;
                
            }
        }
        .check{
            // display: none;
            padding: 33px 25px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: margin-right 1s;
            margin-right: -66px;
            color: white;
            background-color: $tertiary-color;
            
        }
    }
}
.position-boutton{
    display: flex;
    justify-content: center;
}
.footer{
    background-color:rgba(0, 0, 0, 0.726);
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    .footer-options{
        display: flex;
        padding-bottom: 5px;
        align-items: baseline;
    }
    .logo-footer{
        width: 100px;
        color: white;
        margin-bottom: 10px;
    }
    .links-footer{
        color: $footer-text;
        text-align: start;
    }
    .footer-icon{
        
        font-size: 10px;
        padding-right: 10px;
    }
    
}
.menu-column{
    max-width: 600px;
    margin: auto;
}
.heart{
    font-size: 26px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
    i.heart-conteneur{
        z-index:10;
    }
}
.heart-2{
    position: absolute;
    bottom: 26px;
    cursor: pointer;
    color: $primary-color;
    opacity: 0;
    transition:all 1s;
    font-size: 0.5px;
    
}
.heart:hover .heart-2{
    opacity: 1;
    font-size: 26.5px;
    transform: translate(-2%, 69%);
}
.type{
    border-bottom: solid $tertiary-color 2px;
    width: 34px;
}
.arrow{
    
    
}
.logo-text{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: black;
}
.technics{
    font-size: 14px;
}



@media screen and (min-width: 1200px){

    .card{
        margin-top: 0;
    }
    .menu-conteneur{
       display: flex; 
       flex-direction: row;
       justify-content: space-between;
    }
    .photos{
        height: 350px;
    }
    .links-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
    }
    .informations{
        padding-right: 10px;
    }
    .price{
        padding-right: 5px;
    } 
}
