.body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.footer{
    background-color:rgba(0, 0, 0, 0.726);
    padding: 20px;
    display: flex;
    
    
    .footer-options{
        display: flex;
        padding-bottom: 5px;
        align-items: baseline;
    }
    .logo-footer{
        width: 100px;
        
    }
    .links-footer{
        color: $footer-text;
        text-align: start;
    }
    .footer-icon{
        
        font-size: 10px;
        padding-right: 10px;
    }
    
}

.heart{
    font-size: 26px;
}
