.bouton{
    background: linear-gradient(0deg,$primary-color,$secondary-color);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    
}