.bouton{
    background: linear-gradient(0deg,$primary-color,$secondary-color);
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    max-width: 400px;
    width: 100%;
}
.bouton-2{
    background: linear-gradient(0deg,$primary-color,$secondary-color);
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 60%;
    border: none;
    max-width: 300px;
}

.back{
    background-color: white;
    border: none;
    padding-top: 10px;
    position: absolute;
    padding-left: 15px;
}